{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <header class="container my-3">
        <div class="row align-items-center">
            <div class="col-auto px-3">
                <a href={% url 'questions'%} class="navbar-brand">AskLarin</a>
            </div>
            <div class="col">
                {% if search != None %}
                <form action="{% url 'search' %}" method="POST" class="input-group">
                    {% csrf_token %}
                    <input type="search" name="text" class="search-input form-control mb-auto" placeholder="Question title or description">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Искать</button>
                </form>
                {% else %}
                <form action="{% url 'search' %}" method="POST" class="input-group">
                    {% csrf_token %}
                    <input type="search" name="text" class="search-input form-control mb-auto" placeholder="Question title or description" value="{{search}}">
                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Искать</button>
                </form>
                {% endif %}
            </div>
            <div class="col-auto">
                <a class="btn btn-outline-primary" href={%url 'new_question'%}>Задать вопрос</a>
            </div>
            <div class="col-auto">
                <div class="row align-items-center">
                    {% if request.user.is_authenticated %}
                    <div class="col-auto">
                        <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}{% static 'avatar.png' %}{% endif %}" class="nav-brand profile-icon">
                        {{ user.username }}
                    </div>
                    <div class="col-auto">
                        <a href={% url "settings" %}>Settings</a>
                    </div>
                    <div class="col-auto">
                        <a href={% url "logout" %}>Logout</a>
                    </div>
                    {% else %}
                    <div class="col-auto">
                        <a href={% url "login" %}>Login</a>
                    </div>
                    <div class="col-auto">
                        <a href={% url "register" %}>Register</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-sm-4">
                <div class="card no-border-card">
                    <ul class="list-group list-group-flush">
                        {% load popular_data %}
                        {% tags %}
                        {% users %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'app.js' %}"></script>
</body>
</html>