<header class="navbar py-3 mb-4 border-bottom">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">AskLarin</a>

        <form action="" class="d-flex justify-content-center mx-auto">
            <input type="search" class="search-input form-control mb-auto" placeholder="Questions, tags, users">
            <button class="search-button btn btn-outline-primary">Search</button>
        </form>
        <ul class="nav nav-pills">
            <li class="nav-item"><img src="https://www.linux.org.ru/tango/img/opensource-logo.png"
                    class="nav-brand profile-icon">Dr Peper</li>

            <li class="nav-item"><a href="#" class="nav-link">Settings</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
            </li>
        </ul>
    </div>
</header>