{% extends 'base.html' %}
{% block title %}
title
{% endblock %}
{% block content %}
{% include 'question_card.html' with data=question %}
{% for i in answers %}
{% include 'answer_card.html' with data=i question_creator=question.profile.user%}
{% endfor %}
<div class="card mb-3 no-border-card">
    <div class="card-body">
        {% load django_bootstrap5 %}
        <form action="{% url 'answer' question.id %}" method="POST" class="form">
            {% csrf_token %}
        
            {% bootstrap_form form %}
        
            {% bootstrap_button button_type="submit" content="Ответить" %}
        </form>
    </div>
</div>
{%endblock%}