{% extends 'base.html' %}
{% load static %}
{% block title %}
Настройки
{% endblock %}
{% block content %}
<div class="card mb-3 no-border-card">
    {% load django_bootstrap5 %}
    <div class="card-body">
        <h5 class="card-title">Настройка аккаунта {{ user.username }}</h5>
        <form action="{% url 'settings' %}" method="POST" class="form" enctype="multipart/form-data">
            {% csrf_token %}
        
            {% bootstrap_form form %}
        
            {% bootstrap_button button_type="submit" content="Редактировать" %}
        </form>
    </div>
</div>
{% endblock %}